[advisories]
db-path = "$CARGO_HOME/advisory-dbs"
db-urls = ["https://github.com/RustSec/advisory-db"]
unmaintained = "workspace"
unsound = "workspace"
git-fetch-with-cli = true

[licenses]
allow = [
    "MIT",
    "Apache-2.0",
    "BSD-3-Clause",
    "BSD-2-Clause",
    "Zlib",
    "MPL-2.0",
]
confidence-threshold = 0.8

[bans]
multiple-versions = "warn"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
