services:
  db:
    image: postgres:16-alpine
    container_name: rustok_db
    environment:
      POSTGRES_DB: rustok_app
      POSTGRES_USER: loco
      POSTGRES_PASSWORD: loco
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
